/*  consists of styles for various forms */

.forum-logo {
	color: black;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 50px;
	text-align: center;
}

.form-list {
	background-color: rgb(247, 244, 244);
	width: 30%;
	border: solid 1pt rgb(218, 218, 218);
	border-radius: 15px;
	box-shadow: 0 1 3rem rgb(27, 26, 26);
	margin-top: 15px;
}

/* .form-list div {
	margin: 15px;
} */

.forms {
	padding: 32px;
}

.input-fields {
	font-size: 14px;
	color: gray;
	padding: 5px;
}

input {
	background-color: rgb(247, 244, 244);
	font-size: 18px;
	height: 25px;
	width: 100%;
	border: none;
	border-bottom: 1pt solid rgb(134, 131, 131);
}

input[type="file"] {
	border: none;
	height: inherit;
}

textarea {
	background-color: rgb(247, 244, 244);
	font-size: 18px;
	width: 100%;
	height: 10em;
	max-width: 100%;
	border: none;
	border-bottom: 1pt solid rgb(134, 131, 131);
}

a {
	text-decoration: none;
	font-weight: 550;
}

a:link {
	color: rgb(49, 153, 209);
}

a:visited {
	color: rgb(122, 78, 206);
}

.buttons {
	background-color: #323ebe;
	font-family: Poppins;
	border-radius: 10px;
	height: 30px;
	width: 100px;
	color: white;
	font-size: 12px;
	margin-top: 15px;
}

/* class for invalid fields */
.invalid input {
	border-bottom: 1pt solid rgb(236, 31, 31);
}

#paypal-button {
	margin-top: 24px;
}
